/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import '~material-icons/iconfont/material-icons.css';

@import "../../assets/scss/fonts";
@import "../../assets/scss/colors";
@import "../../assets/scss/typography";
@import "../../assets/scss/layout";

body {
  margin: 0;
  padding: 0;

  font-size: $default-font-size;
  font-family: $font-primary;

  background-color: $gray6; 
  .container {
    margin: auto;
    padding-left: $default-spacing;
    padding-right: $default-spacing;
    max-width: 90%;
  }
}


@include media-breakpoint-down(sm) {
  body {
    margin: 0;
    padding: 0;

    font-size: $default-font-size-mobile;

    .container {

      margin: 0;
      padding-left: unset;
      padding-right: unset;
      max-width: unset;
      width: 100%;
    }
  }
}