@import "../../../../assets/scss/styles.scss";

.person {
  display: flex;
  flex-direction: row;
  align-items: center;

  .person-initials-container {
    flex: 1;
    width: calc($header-mobile-height - $default-spacing);
    min-width: calc($header-mobile-height - $default-spacing);
    max-width: calc($header-mobile-height - $default-spacing);
    height: calc($header-mobile-height - $default-spacing);
    min-height: calc($header-mobile-height - $default-spacing);
    margin: calc($default-spacing / 2);
    overflow: hidden;
    border-radius: 50%;
    border: $black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    font-size: $middle-font-size;
  }

  .person-image-container {
    flex: 1;
    width: calc($header-mobile-height - $default-spacing);
    min-width: calc($header-mobile-height - $default-spacing);
    max-width: calc($header-mobile-height - $default-spacing);
    height: calc($header-mobile-height - $default-spacing);
    min-height: calc($header-mobile-height - $default-spacing);
    margin: calc($default-spacing / 2);
    overflow: hidden;
    border-radius: 50%;
    border: $black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $white;

    .person-image {
      width: 100%;
    }
  }

  .person-info-container {
    display: grid;
    padding-left: $default-spacing;

    .person-info-container-title, .person-info-container-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}