@import "../../assets/scss/styles.scss";

.field-wrapper {
  label {
    width: 100%;
    margin: 0px;

    .field-label {
      font-weight: bold;
      font-size: $default-font-size;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.required:after {
        content: " *";
        color: red;
      }
    }

    .field {
      position: relative;
      display: flex;
      flex-direction: row;

      width: 100%;
      margin: 0px;

      padding: calc($default-spacing / 2);

      color: $gray-primary;
      background: $white;
      border-bottom: solid 1px $color-primary;

      textarea, input[class*="-input"] {
        width: 100%;
        padding: calc($default-spacing / 2);
        outline: none;
        border: none;
        color: $black;
        font-size: $default-font-size;
        caret-color: $color-primary;
      }

      &.filled {
        background: $gray-secondary;
        font-size: $default-font-size;

        textarea, input[class*="-input"] {
          background: $gray-secondary;
          font-size: $default-font-size;
        }
      }

      &.large {
        font-size: $large-font-size;

        textarea, input[class*="-input"] {
          font-size: $large-font-size;
        }
      }

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .field-icon {
          width: 34px;
          height: 34px;
          line-height: 34px;
        }
      }

      &:focus-within {
        border-bottom: solid 1px $color-primary-alpha;

        .icon-container {
          .field-icon {
            color: $color-primary;
          }
        }
      }

      &.readonly {
        border-bottom: solid 1px $gray-primary;

        textarea, input[class*="-input"] {
          color: $gray-primary;
          font-style: italic;
        }
      }
    }
  }
}

.field-errors {
  display: flex;
  flex-direction: column;

  width: calc(100% - ($default-spacing*2));
  margin: $default-spacing;
  margin-bottom: $default-spacing;
  font-size: $small-font-size;
  color: $red;
}