<div class="order-info" *ngIf="order">
    <h4>Opdracht informatie</h4>
    <app-panel-toggle [style]="'grey'" [title]="['Overige informatie']">
        <div class="order-info-description">
            {{order.description}}
        </div>
        <div class="order-info-category">
        <h4>Bestek categorie(en)</h4>
        <p>
            {{getCategories()}}
        </p>
        </div>
    </app-panel-toggle>
    <div class="order-info-specifications" *ngIf="hasOrderSpecificationItems()">
      <app-panel-order-specifications [order]="order"></app-panel-order-specifications>
    </div>
    <div class="order-info-specifications" *ngIf="hasOrderSpecificationItems()">
      <h4>Notitie</h4>
        {{note}}
      </div>  
  </div>