// @import "../../assets/scss/styles.scss";
@import "../../assets/scss/styles.scss";

.mail {
  .mail-template {
    padding: calc($default-spacing * 4);
    box-shadow: 0 1px 5px 0px rgba(0,0,0,.65);
    word-break: break-word;
  }  
}