<div class="row">
  <div class="col-sm-12">
    <h4>Zoek op straatnaam en huisnummer</h4>
  </div>
</div>
<div class="row search-address-container">
  <div class="col-sm-12 col-md-8 search-address-street">
      <app-text-field-prefill
        [style]="'filled'"
        [id]="'street'"
        [required]="true"
        [name]="'street'"
        [placeholder]="'Straat'"
        [value]="options"
        (typing)="getStreetList($event)"
        (changed)="onStreetChanged($event)"
        #streetComponent></app-text-field-prefill>
  </div>
  <div class="col-sm-12 col-md-2 search-address-number">
    <app-text-field
      [style]="'filled'"
      [type]="'number'"
      [id]="'number'"
      [name]="'number'"
      [placeholder]="'Huisnummer'"
      [maxLength]="6"
      (changed)="onNumberChanged($event)"
      #numberComponent></app-text-field>
  </div>
  <div class="col-sm-12 col-md-2 search-address-button">
    <app-btn-contained (clicked)="search()">Zoeken</app-btn-contained>
  </div>
  <div class="col-sm-12">
    <div class="field-errors" *ngIf="errors.length > 0">
      <div *ngFor="let error of errors" class="field-error">{{error.message}}</div>
    </div>
  </div>
</div>
<div class="row current-address-container">
  <div class="col-sm-12 col-md-6">
    <h4>Zoek op straatnaam en huisnummer</h4>
  </div>
  <div class="col-sm-12 col-md-6 current-address">
    {{getShowAddress()}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-maps [classes]="'bigger'" [clickable]="true" [controls]="true" [location]="call.location" (clicked)="clicked($event)"></app-maps>
  </div>
</div>
