<div class="order-info" *ngIf="order">
  <div class="order-info-description" *ngIf="action == 'view'">
    <h4><span>{{title}}</span><span class="right">{{getDays(order?.dateCreated)}}</span></h4>
    {{order.description}}
  </div>
  <div class="order-info-category" *ngIf="action == 'view'">
    <h4>Bestek categorie(en)</h4>
    {{getCategories()}}
  </div>
  <div class="order-info-notes">
    <app-order-notes [orderNotes]="order?.notes"></app-order-notes>
  </div>
  <div class="order-info-specification-items">
    <app-panel-order-specifications [order]="order"></app-panel-order-specifications>
  </div>

  <!-- <div class="order-info-explanation" *ngIf="order.explanation">
    <h4 *ngIf="action == 'view'"><span>Toelichting</span><span class="right">{{getExecutor()}}</span></h4>
    <h4 *ngIf="action == 'confirm'"><span>Toelichting gereedmelding</span></h4>
    {{order.explanation}}
  </div> -->
  <!-- <div class="order-info-specifications" *ngIf="hasOrderitems()">
    <h4>Gekozen bestek</h4>
    <table class="order-info-specifications-table">
      <tr *ngFor="let orderitem of order?.orderitems">
        <td class="order-info-specifications-small">{{orderitem?.quotationNumber}}</td>
        <td class="order-info-specifications-text">{{orderitem?.name}}</td>
        <td class="order-info-specifications-small">{{orderitem?.amount}} {{orderitem?.unit}}</td>
      </tr>
    </table>
  </div> -->
</div>