@import "../../../assets/scss/styles.scss";

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  width: 100%;

  .filter-toggle {
    display: flex;
    flex-direction: row;
    width: 100%;

    cursor: pointer;

    .toggle-btn-title {
      flex: auto;
      font-weight: bold;
      padding-right: $default-spacing;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    .toggle-btn {
      flex: 1;
      flex-grow: 0;
    }
  }

  .filter-dropdown {
    overflow: hidden;
    height: 0px;
    position: absolute;
    min-width: calc(100% + $default-spacing*2);
    width: 220px;
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    &.open {
      overflow: unset;
      padding: $default-spacing;
      height: unset;
    }
  }
}


:host ::ng-deep {
  app-checkbox .checkbox {
    padding: calc($default-spacing / 2) 0px;
  }
}

.filter-dropdown-title {
  padding: calc($default-spacing / 2) 0px;
}

.filter-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
