<div class="row list-panel" *ngIf="_group">
  <div class="col-md-6 list-panel-block">
    <div class="row">
      <div class="col-md-12">
        <app-text-field [style]="'filled'" [form]="'group'" [id]="'name'" [name]="'group'" [label]="'Groep'"
          [value]="_group?.name" [required]="true" [maxLength]="100" (changed)="onGroupChanged($event)"
          #groupComponent></app-text-field>
      </div>
    </div>
  </div>
  <div class="col-md-6 list-panel-block">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row buttons">
      <div class="col-md-6 text-left">
        <div *ngIf="!isNew" class="row">
          <div class="col-md-8">
            <app-checkbox-field [id]="'delete'" [name]="'delete'" [value]="delete"
              (changed)="onDeleteChanged($event)">Verwijderen</app-checkbox-field>
          </div>
          <div *ngIf="delete" class="col-md-4">
            <app-btn-contained [type]="'outlineSecondary'">Verwijderen</app-btn-contained>
          </div>
          
        </div>
      </div>
      <div class="col-md-6 text-right">
        <div class="row">
          <div *ngIf="isNew" class="col-md-4">
            <app-btn-contained [type]="'containedSecondary'" (clicked)="cancel()">Annuleren</app-btn-contained>
          </div>
          <div class="col-md-4">
            <app-btn-contained [type]="'containedPrimary'" (clicked)="onSave($event)">Opslaan</app-btn-contained>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>