<app-settings-title></app-settings-title>
<div class="row list-panel">
  <div class="col-md-6 list-panel-block">
    <div class="row">
      <div class="col-md-12">
          <app-text-field-prefill 
                [id]="'contractor'"
                [name]="'contractor'"
                [form]="'contract-government'"
                [label]="'Zoek een aannemer'"
                [placeholder]="'Zoek een aannemer'"
                [required]="true"
                [disabled]="!isNew"
                (typing)="findContractors($event)"
                #contractorsComponent></app-text-field-prefill>
      </div>
    </div>
  </div>
  <div class="col-md-6 list-panel-block">
    <div class="row">
      <div class="col-md-12">
        <div class="field-wrapper">
          <app-checkbox-field [id]="'accepted'" [label]="'Geaccepteerd'" [name]="'accepted'" [value]="contract?.accepted"
            [readonly]="true">Geaccepteerd</app-checkbox-field>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-textarea-field
        [form]="'contract-government'"
        [name]="'contract-description'"
        [style]="'default'"
        [label]="'Omschrijving'"
        [placeholder]="'Omschrijving'"
        [value]="contract?.description"
        [required]="true"
        [maxLength]="2000"
        ></app-textarea-field>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngFor="let mainCategory of contract?.mainCategories; let colIndex = index">
      <div *ngIf="hasCategories(mainCategory)">
        <h4>{{mainCategory.name}}</h4>
        <ul>
          <li *ngFor="let category of mainCategory?.categories; let colIndex = index">{{category.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row buttons mt-4">
  <div class="col-md-8 text-left">
    <div *ngIf="!isNew" class="row">
      <div class="col-md-8">
        <app-checkbox-field [id]="'delete'" [name]="'delete'" [value]="delete"
          (changed)="onDeleteChanged($event)">Verwijderen</app-checkbox-field>
      </div>
      <div *ngIf="delete" class="col-md-4">
        <app-btn-contained [type]="'outlineSecondary'" (clicked)="onDelete($event)">Verwijderen</app-btn-contained>
      </div>

    </div>
  </div>
  <div class="col-md-4 text-right">
    <div class="row">
      <div *ngIf="isNew" class="col-md-6">
        <app-btn-contained [type]="'containedSecondary'" (clicked)="cancel()">Annuleren</app-btn-contained>
      </div>
      <div *ngIf="isNew" class="col-md-6">
        <app-btn-contained [type]="'containedPrimary'" (clicked)="onSave($event)">Opslaan</app-btn-contained>
      </div>
    </div>
  </div>
</div>