<app-settings-title></app-settings-title>
<div class="row list-panel" *ngIf="contract">
  <div class="col-md-6 list-panel-block">
    <div class="row">
      <div class="col-md-12">
          <app-text-field-prefill 
                [id]="'contractor'"
                [name]="'contractor'"
                [form]="'contract-government'"
                [label]="'Aannemer'"
                [placeholder]="'Selecteer een Aannemer'"
                (typing)="findContractors($event)"
                #contractorsComponent></app-text-field-prefill>

        <!-- <app-dropdown-field [id]="'contractor'" [form]="'contract-government'" [disabled]="!isNew" [required]="true"
          [name]="'contractor'" [options]="contractorItems" [label]="'Aannemer'" [placeholder]="'Selecteer een Aannemer'"
          (changed)="onDomainChanged($event)" #domainComponent>
        </app-dropdown-field> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 list-panel-block">
    <div class="row">
      <div class="col-md-12">
        <h4>Geaccepteerd</h4>
        <div class="field-wrapper">
          <app-checkbox-field [id]="'accepted'" [name]="'accepted'" [value]="contract?.accepted"
            [readonly]="true">Geaccepteerd</app-checkbox-field>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-panel-toggle [toggle]="true" [title]="['Categorieën']">
      <div *ngFor="let mainCategory of contract?.mainCategories; let colIndex = index">
        <div *ngIf="hasCategories(mainCategory)">
          <h4>{{mainCategory.name}}</h4>
          <ul>
            <li *ngFor="let category of mainCategory?.categories; let colIndex = index">{{category.name}}</li>
          </ul>
        </div>
      </div>
    </app-panel-toggle>
  </div>
</div>

<div class="row buttons mt-4">
  <div class="col-md-8 text-left">
    <div *ngIf="!isNew" class="row">
      <div class="col-md-8">
        <app-checkbox-field [id]="'delete'" [name]="'delete'" [value]="delete"
          (changed)="onDeleteChanged($event)">Verwijderen</app-checkbox-field>
      </div>
      <div *ngIf="delete" class="col-md-4">
        <app-btn-contained [type]="'outlineSecondary'" (clicked)="onDelete($event)">Verwijderen</app-btn-contained>
      </div>

    </div>
  </div>
  <div class="col-md-4 text-right">
    <div class="row">
      <div *ngIf="isNew" class="col-md-6">
        <app-btn-contained [type]="'containedSecondary'" (clicked)="cancel()">Annuleren</app-btn-contained>
      </div>
      <div *ngIf="isNew" class="col-md-6">
        <app-btn-contained [type]="'containedPrimary'" (clicked)="onSave($event)">Opslaan</app-btn-contained>
      </div>
    </div>
  </div>
</div>