$mediaWidthSmall: 576px;
$mediaWidthMedium: 768px;
$mediaWidthLarge: 992px;
$mediaWidthExtraLarge: 1200px;

$header-height: 70px;
$header-mobile-height: 64px;

$default-spacing: 10px;

$max-button-size: 200px;
$image-size: 200px;

$z-index-headers: 10;
$z-index-popups: 20;

.bold { font-weight: bold!important; }
.italic { font-style: italic!important; }


.field-wrapper {
  margin-bottom: $default-spacing;
}

.button-default-style {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
  color: $black;
  cursor: pointer;
  text-align: center;
  
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
      color: $color-primary;
  }

  &:focus {
      outline: 1px solid #fff;
      outline-offset: -4px;
  }

  &:active {
      transform: scale(0.99);
  }

  &:disabled {
      color: $gray-secondary;
  }
}