<app-panel-tab-selector (changed)="onTabChange($event)" [tabs]="tabs" [direction]="'tab-row'">
    <div class="tab-search">
        <app-text-field
          
          [icon]="'search'"
          [placeholder]="'Zoeken...'"
          (typing)="onTyping($event)"
          ></app-text-field>
      </div>
      <div  class="row" *ngIf="!items || items.length == 0">
        <div class="col-12">
          <div class="no-items">{{getNoItemsText()}}</div>
        </div>
      </div>
      <div  class="row" *ngIf="items.length > 0">
        <div *ngFor="let item of items" class="col-md-4 col-xl-3">
          <app-checkbox-field
            [type]="'radio'"
            [name]="'items'"
            [value]="item.selected"
            [data]="item"
            (changed)="onItemChange($event)">
            <app-panel-user [image]="item.image">
            </app-panel-user>
          </app-checkbox-field>
          
        </div>
      </div>
</app-panel-tab-selector>
