<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="details-main-description">
      <h4>{{getShowCategory()}}</h4>
      <p>{{call.description}}</p>
    </div>
    <div class="details-main-created-by">
      <h4>Gemeld door</h4>
      <app-panel-user [image]="getImage(call.createdBy)"></app-panel-user>
    </div>
    <div class="details-main-contact">
      <div *ngIf="!askContact" class="details-main-contact-no">
        Melder wil <strong>NIET</strong> op de hoogte gehouden worden over de melding.
      </div>
      <div *ngIf="askContact" class="details-main-contact-yes">
        <p>
          Melder wil <strong>WEL</strong> op de hoogte gehouden worden over de melding.
        </p>
        <p [innerHTML]="getContact()">
        </p>
      </div>
    </div>
    <div class="details-main-files mb-1 mt-1">
      <h4>Bestanden</h4>
      <div *ngIf="files && files.length > 0">
        <div *ngFor="let file of files">{{file.name}}</div>
      </div>
      <div *ngIf="!files || files.length == 0">
        Geen bestanden
      </div>
    </div>
    <div class="details-main-files mb-1 mt-1" *ngIf="call.channel">
      <h4>Kanaal</h4>
      <div >{{call.channel}}</div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <h4>Locatie op de kaart</h4>
    {{getShowAddress()}}
    <app-maps (click)="popupMap($event)" [classes]="'button'" [location]="call.location"></app-maps>
  </div>
</div>