<div class="ps-header-mobile" [ngClass]="{'opened': opened}">
  <div class="btn-container-left">
    <app-btn-icon *ngIf="show(['page', 'pageStickyButtons']) && hasBack()" class="ps-header-btn btn-open" [icon]="'arrow_back'" (clicked)="changed('back')"></app-btn-icon>
    <app-btn-icon *ngIf="show(['overview'])" class="ps-header-btn btn-open" [icon]="'menu'" (clicked)="changed('open')"></app-btn-icon>
  </div>
  <div class="title-container">
      {{title}}
  </div>
  <div class="btn-container-right">
    <app-btn-icon *ngIf="show(['overview'])" class="ps-header-btn btn-new" [icon]="'add'" (clicked)="changed('new')"></app-btn-icon>
  </div>
</div>


<div class="ps-header" [ngClass]="{'opened': opened}">
  <div class="ps-header-menu">
    <div class="ps-header-mobile-inner">
      <app-btn-icon class="ps-header-btn ps-btn-close" [icon]="'close'" (clicked)="close($event)"></app-btn-icon>
    </div>
    <div class="ps-header-right" *ngIf="user">
      <div class="ps-header-new">
        <app-header-button [icon]="'add'" [name]="'Nieuwe melding maken'" [route]="'/new/location'" [store]="true"></app-header-button>
      </div>
      <div class="ps-header-dropdown" id="ps-header-dropdown" [ngClass]="{'uncollapsed': !collapsed}">
        <div class="ps-header-profile-info" (click)="toggleProfile($event)">
          <div class="ps-header-profile-info-mobile">
            <div class="profile-info">
              {{user.name}}
            </div>
            <div class="profile-info">
              {{user.email}}
            </div>
            <div *ngIf="!collapsed">
              <div class="profile-info">
                <span>Telefoon: </span><span>{{user.phone}}</span>
              </div>
              <div class="profile-info">
                <span>Mobiel: </span><span>{{user.mobile}}</span>
              </div>
            </div>
          </div>
          <span *ngIf="!hasImage()" class="ps-header-profile-avatar">
            {{getNameAsAvatar(user.name)}}
          </span>
          <div *ngIf="hasImage()"  class="ps-header-profile-image">
            <img class="profile-image" [src]="sanitizer.bypassSecurityTrustResourceUrl(profileImage)" [alt]="user.name"/>
          </div>
          <div class="profile-arrows">
            <span *ngIf="!collapsed" class="material-icons md-24">arrow_drop_up</span>
            <span *ngIf="collapsed" class="material-icons md-24">arrow_drop_down</span>
          </div>
        </div>
        <div class="ps-header-profile-info-desktop" [ngClass]="{'uncollapsed': !collapsed}">
          <div>{{user.name}}</div>
          <div>{{user.email}}</div>
          <div class="container-groups-desktop">
            <div class="btn-my-groups" (click)="toggleGroups()">
              <span class="my-groups-icon material-icons md-24">location_on</span>
              <span class="my-groups-text">Mijn groepen</span>
              <div class="my-groups-arrows">
                <span *ngIf="!collapsedgroups" class="material-icons md-24">arrow_drop_up</span>
                <span *ngIf="collapsedgroups" class="material-icons md-24">arrow_drop_down</span>
              </div>
            </div>
            <div class="btn-container-groups-items" *ngIf="!collapsedgroups">
              <app-header-groups></app-header-groups>
            </div>
            <app-header-button
              [icon]="'settings'"
              [name]="'Instellingen'"
              (click)="settings($event)"
              [classes]="'group dropdown-btn'"
            ></app-header-button>
            <app-header-button
              [icon]="'power_settings_new'"
              [name]="'Uitloggen'"
              (click)="logout($event)"
              [classes]="'group dropdown-btn'"
            ></app-header-button>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-container-pages">
      <app-header-button *ngFor="let headerItem of headerItems; let i = index"
      [id]="'' + headerItem.id" [icon]="headerItem.icon" [name]="headerItem.name" [notification]="headerItem.notification" [selected]="headerItem.selected" [iconSrc]="headerItem.iconSrc"
        (click)="close($event)"
      ></app-header-button>
    </div>
    <div class="btn-container-groups-mobile">
      <app-header-button
        [icon]="'power_settings_new'"
        [name]="'Uitloggen'"
        (click)="logout($event)"
        [classes]="'dropdown-btn'"
      ></app-header-button>
    </div>
  </div>
</div> 