<div class="login-wrapper">
  <app-toast class="toasts"></app-toast>
  <div class="login-container">
    <div class="login-input-container">
      <h1 class="login-form-title"> Aanmelden met uw <br/> gebruikersnaam</h1>
      <form id="login-form">
        <div class="field-wrapper">
          <app-text-field
            [id]="'username'"
            [name]="'username'"
            [icon]="'person'"
            [style]="'large'"
            [placeholder]="'Gebruikersnaam'"
            [value]="username"
            [required]="true"
            (typing)="onTyping($event)"
            (changed)="onUsernameChanged($event)" #usernameComponent></app-text-field>
        </div>
        <div class="field-wrapper">
          <app-password-field
            [id]="'password'"
            [name]="'password'"
            [icon]="'lock'"
            [style]="'large'"
            [placeholder]="'Wachtwoord'"
            [value]="password"
            [required]="true"
            (typing)="onTyping($event)"
            (changed)="onPasswordChanged($event)" #passwordComponent></app-password-field>
        </div>
        <div class="field-wrapper">
          <app-checkbox-field
            [id]="'stayedLogedIn'"
            [name]="'stayedLogedIn'"
            (changed)="onRememberLoginChanged($event)">Ingelogd blijven</app-checkbox-field>
        </div>
        <div class="btn-container">
          <app-btn-contained (clicked)="submit()" [classes]="'full'">Inloggen</app-btn-contained>
        </div>
        <div class="field-errors" *ngIf="error">
          {{error.message}}
        </div>
        <div class="field-wrapper" *ngIf="hasReset()">
          <span class="link" (click)="resetAccount()">Wachtwoord vergeten?</span>
        </div>
      </form>
    </div>
    <div class="login-logo-container">
      <img class="company-logo"
         src="{{getLogo()}}"
         alt="Logo gemeente"/>
    </div>
  </div>
</div>