<app-panel *ngIf="page && call"
  [data]="call"
  [buttonsLeft]="page?.buttonsLeft"
  [buttonsRight]="page?.buttonsRight"
  [pageLayoutType]="page?.layoutType">
  <app-panel-title>
    <div  class="row details-main">
      <div class="col-sm-12 details-main-header">
        <app-details-header [data]="header"></app-details-header>
      </div>
      <div class="col-sm-12 col-md-6 details-main-info">
        <app-panel-info 
          [call]="call"  
          [urlImage]="getUrlImage"></app-panel-info>
      </div>
      <div class="col-sm-12 col-md-6">
        
        <app-panel-order [action]="'new'" [title]="'Nieuwe opdracht(en)'" [orders]="getNewOrders()" (changed)="onOrderChanged($event)"></app-panel-order>
        <app-panel-order [title]="'Bestaande opdracht(en)'" [orders]="getExistingOrders()" (changed)="onOrderChanged($event)"></app-panel-order>
      </div>
    </div>
  </app-panel-title>
</app-panel>
