@import "../../../../assets/scss/styles.scss";

.popup-confirm {
  position: sticky;
  bottom: 0px;

  background: $white;

  .popup-confirm-description-container {
    margin-bottom: $default-spacing;

    app-textarea-field {
      width: 100%;
      height: 111px;
    }
  }

  .notes-viewer-buttons {
    width: 100%;
  }
}